.button{
    padding:10px 10px;
    background-color: #f1f1f1;
    font-size:16px;
    border-radius: 8px;
   
}
.randombutton{
    padding:10px 10px;
    background-color: #f1f1f1;
    font-size:16px;
    border-radius: 8px;
    margin-left: 10px;
    
}